.information_view {
  .product_detail {
    padding: 65px 0 96px 98px;
    &_title {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 42px;
    }
    &_list {
      display: flex;
      &_item {
        &_control {
          display: flex;
          height: 19px;
          align-items: center;
          margin-bottom: 24px;
          &_label {
            width: 180px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
          }
          &_value {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            width: 410px;
          }
        }
      }
    }
  }
  .authentication_view {
    height: 884px;
    background: linear-gradient(264.01deg, #424242 0.47%, #646464 96.67%);
    padding: 48px 100px 0 98px;
    box-sizing: border-box;
    &_title {
      height: 60px;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 53px;
    }
    &_main {
      background-image: url('../../../assets/images/goods/authentication_bg.jpeg');
      background-size: cover;
      display: flex;
      padding-bottom: 99px;
      &_product {
        padding: 68px 57px 0 70px;
        width: 31%;
        box-sizing: border-box;
        &_title {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 77px;
          text-align: center;
        }
        &_list {
          display: flex;
          justify-content: space-between;
          &_item {
            width: calc(188/1920) *100vw;
          }
        }
      }
      &_factory {
        width: 69%;
        padding: 88px 73px 0 71px;
        box-sizing: border-box;
        &_title {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 24px;
          text-align: center;
        }
        &_subtitle {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
          text-align: center;
          margin-bottom: 57px;
        }
        &_list {
          display: flex;
          justify-content: space-between;
          &_item {
            width: calc(188/1920) *100vw;
          }
        }
      }
    }
  }
  .selling_view {
    padding: 66px 100px 135px 81px;
    background: #000000;
    &_title {
      margin-bottom: 96px;
      height: 60px;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &_img {
      width: 100%;
      margin-bottom: 96px;
    }
    &_other {
      padding: calc(80 / 1920 * 100vw);
      display: flex;
      background: linear-gradient(84.46deg, rgba(226, 226, 226, 0.1) 3.11%, rgba(255, 255, 255, 0.1) 51.13%, rgba(238, 240, 241, 0.1) 99.86%);
      &_img {
        width: calc(500 / 1920 * 100vw);
        margin-right: calc(79 / 1920 * 100vw);
      }
      &_main {
        margin-bottom: 68px;
        &_title {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 24px;
        } 
        &_subtitle {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
          margin-bottom: 24px;
        }
        &_desc {
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
        }
      }
    }
    &_service {
      &_title {
        height: 48px;
        left: 99px;
        top: 5564px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 68px;
      }
      &_list {
        display: flex;
        justify-content: space-between;
        &_item {
          flex: 1;
          display: flex;
          align-items: center;
          &_icon {
            width: 44px;
            margin-right: 24px;
          }
          &_desc {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .packing_view {
    padding: 77px 99px 68px 101px;
    &_title {
      height: 60px;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 30px;
    }
    &_list {
      display: flex;
      gap: 32px;
      &_item {
        flex: 1;
        position: relative;
        &_desc {
          position: absolute;
          top: 67px;
          left: 0;
          width: 100%;
          text-align: center;
          font-family: 'Barlow';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          text-transform: uppercase;
          color: #000000;
        }
        &_img {
          width: 100%;
        }
      }
    }
  }
  .logistics_view {
    padding: 0 100px;
    &_title {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 44px;
    }
    &_banner {
      width: 100%;
    }
  }
}